extends layout 

block content 
    h1= title
    p Hello #{member} 
        if logstatus == false 
            a(href='login.html') 登入
        else 
            a(href='./logout') 登出
        , Welcome to #{title}