* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    /* 可讓回到上方的動作更順暢 */
    /* 然而支援度不高，所以用純JS碼替代 */
    scroll-behavior: smooth;
}

.bg {
    width: 100%;
    height: 300vh;
    background: url(img/000022.jpg)no-repeat;
    background-size: cover;
}

#backtotop {
    font-size: 50px;
    width: 70px;
    height: 70px;
    z-index: 20;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    visibility: hidden;
    box-shadow: 10px 10px 0px white;
}

#backtotop i {
    width: 100%;
    height: 100%;
    color: white;
}

#backtotop.visible {
    visibility: visible;
    opacity: .7;
    background-color: #254837;
}

#backtotop:hover {
    opacity: 1;
    background-color: #254837;
}

.content {
    position: fixed;
    right: 50%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.wrap {
    width: 60%;
    padding: 50px;
    color: white;
}

.wrap h1 {
    margin-top: 10%;
    padding: 10px;
    font-size: 8vw;
    font-family: 'Girassol', cursive;
    letter-spacing: .5vw;
    text-shadow: 5px 5px 0px #254837;
}

.wrap p {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 27px;
    background-color: #254837;
}


/* 讓 backtotop 的按鈕出現的順暢一些 */

.btnEntrance {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}


/* 淡入 */

@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    t0 {
        opacity: 1;
    }
}

.btnExit {
    animation-duration: .25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}


/* 淡出 */

@keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
}

@media screen and (max-width:768px) {
    .bg {
        background-position: center;
    }
    #backtotop {
        font-size: 35px;
        width: 45px;
        height: 45px;
        line-height: 40px;
    }
    .content {
        left: 0;
        right: 0;
    }
    .wrap {
        width: 70%;
        padding: 0px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .wrap h1 {
        margin-top: 0%;
        font-size: 10vw;
        text-shadow: 3px 3px 0px #254837;
    }
}